*{
    box-sizing: border-box;
    font-family: verdana, sans-serif;
    margin: 0%;
}
.container{
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: teal;
    font-family:verdana, sans-serif;
}

header h1{
    color: white;
    padding-left: 110px;
    
}

.head{
    display: flex;
    font-size: 20px;
    color: white;
    justify-content: space-around;
    padding-top: 7px;
    font-family: verdana, sans-serif;
    padding-right: 90px;
}

.prof{
    text-align: center;
}

.prof h2{
    color: teal;
}

.item-wrapper{
    display: flex;
    justify-content: space-between;
    background-color:#157293;
    padding: 50px;
    position: relative;
    color: white;
    font-size: 20px;
}

#skill{
    color: teal;
    padding-left: 90px;
}

.serv-wrapper{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 35px;
    color: white;
    background-color: white;
}

.serv{
    background-color: dimgrey;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
}

.close{
    text-align: center;
    color: white;
    background-color: #157293;
    padding: 30px;
}
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .container {
        width: 100%;
    }
    header {
        font-size: medium;
    }
    header h1 {
        padding: 0px;
    }
    .item-wrapper {
        display: block;
    }
    .item {
        font-size: medium;
    }
    .serv-wrapper {
        display: block;
    }
    #skill {
        padding-left: 30px;
    }
}
/* style for screen sizes below 900px */
@media screen and (max-width: 900px) {
    body {
        font-size: 14px;
    }
    .container{
        width: 100%;
    }
    header h1 {
        padding: 10px;
    }
    .head {
        display: inline-flex;
        padding-left: 40px;
        font-size: 14px;
        padding-top: 21px;
    }
    .item-wrapper {
        display: block;
    }
    .item {
        font-size: medium;
    }
    .serv-wrapper {
        display: block;
    }
    }